      <section class="logo-dumpster">
        <div class="background-animated"></div>
        <img src="{{ site.url }}/assets/img/logobig.png" alt="fart depot dot biz logo" />
      </section>

      <nav class="main-menu">
        <div class="nav-inner">
          <div class="container">
            <div class="row">
              <div class="col">
                <a href="{{ site.url }}/drew" class="drewit" alt="i drew it: stuff that i drew"></a>
              </div>
              <div class="col">
                <a href="{{ site.url }}/wrote" class="wroteit" alt="i wrote it: stuff that i wrote"></a>
              </div>
              <div class="col">
                <a href="{{ site.url }}/about" class="amit" alt="i am it: about me and this site"></a>
              </div>
            </div>
          </div>
        </div>
      </nav>