<nav class="comic-nav container">
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col-sm">
          <a href="{{ site.url }}{{ page.first_in_category.url }}"><i class="fas fa-fast-backward"></i> First</a>
        </div>
        <div class="col-sm">
          <a {% if page.previous_in_category.url %} href="{{ site.url }}{{ page.previous_in_category.url }}"{% else %}class="disabled"{% endif %}><i class="fas fa-step-backward"></i> Previous</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-sm text-end">
          <a {% if page.next_in_category.url %} href="{{ site.url }}{{ page.next_in_category.url }}"{% else %}class="disabled"{% endif %}>Next <i class="fas fa-step-forward"></i></a>
        </div>
        <div class="col-sm text-end">
          <a href="{{ site.url }}{{ page.last_in_category.url }}">Latest <i class="fas fa-fast-forward"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>