      <input aria-hidden="true" type="checkbox" id="menustate" />

      <nav class="button">
        <label for="menustate" aria-hidden="true">
          <a id="menu-display-button" href="#menustate" role="button"><img src="{{ site.url }}/assets/img/fd.png" alt="Small fart depot dot biz logo" /></a>
      </nav>

      <nav class="main-menu">
        <div class="nav-inner">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-2 close-button-holster">
                    <label for="menustate" aria-hidden="true">
                      <a id="menu-close-button" href="#" role="button"><i class="fas fa-times-circle menu-close-button"></i></a>
                    </label>
                  </div>
                  <div class="col logo-holster">
                    <a href="{{ site.url }}" alt="fart depot home"></a>
                  </div>
                </div>
              </div>
              <div class="col menu-holster">
                <a href="{{ site.url }}/drew" class="drewit" alt="i drew it: stuff that i drew"></a>
                <a href="{{ site.url }}/wrote" class="wroteit" alt="i wrote it: stuff that i wrote"></a>
                <a href="{{ site.url }}/about" class="amit" alt="i am it: about me and this site"></a>
              </div>
            </div>
          </div>
        </div>
      </nav>