    {% assign contentPath = 'assets/img/post-content/' %}

    {% if page.image.headliner %}
      {% capture postImage %}{{ contentPath }}{{ page.image.headliner }}{% endcapture %}
    {% elsif page.image.thumbnail %}
      {% capture postImage %}{{ contentPath }}{{ page.image.thumbnail }}{% endcapture %}
    {% else %}
      {% if page.image.feature %}
        {% capture postImage %}{{ contentPath }}{{ page.image.feature }}{% endcapture %}
      {% else %}
        {% assign postImage = 'assets/img/og/og-image.jpg' %}
      {% endif %}
    {% endif %}

    {% assign imageUrl = postImage | prepend: "/" | prepend: site.url %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &#11825; {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:image" content="{{ imageUrl }}">
    <!-- Open Graph -->
    <meta property="og:image" content="{{ imageUrl }}">
    <meta property="og:image:width" content="{% img_width postImage %}">
    <meta property="og:image:height" content="{% img_height postImage %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} &#11825; {% endif %}{{ site.title }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:site_name" content="{{ site.title }}">