@import "global-variables";

h1,h2,h3,h4,h5,h6{
  font-family: 'P22 Mackinac Pro', serif;
  font-weight: 900;
}

section.page-wrapper{
  padding: 25px 0;
  margin: 0px auto;
  z-index: 1;
  position: relative;
}

footer{
  z-index: 999;
  position: relative;
  margin-top: -15px; // this is gonna bite me in the ass later, caused by home nav
  border-top: 5px solid black;
  border-image: url('/assets/img/inky_border_black.png') 11 repeat;
  color: white;

  .footer-wrap{
    margin: 0px auto;
    padding: 10px 0px;
    background: #000;
    height: 100%;
    width: 100%;
  }
}

.title-font{
  font-family: 'P22 Mackinac Pro', serif;
}

.add-scrim{
  position: relative;

  &.add-scrim-after{
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 35, 0.25);
    }
  }
  &.add-scrim-before{
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 35, 0.25);
    }
  }

  :first-child{
    position: relative;
  }
}