$bs-break-sm: 576px;
$bs-break-md: 768px;
$bs-break-lg: 992px;
$bs-break-xl: 1200px;

/* famous colors */
$blue: #003049;
$red: #D62828;
$beige: #EAE2B7;

$purple: #5F0F40;
$maroon: #9A031E;
$yellow: #FB8B24;
$orange: #E36414;
$teal: #0F4C5C;