.post-index{
  .also-wrap{
    .also-item{
      position: relative;
      color: #e4e4e4;
      text-shadow: 0 1px 1px #000;
      min-width: 200px;
      height: 99%;
      padding: 40px 40px 10px 40px;
      transition-duration: 0.25s;
      border: 3px solid black;
      background-clip: padding-box;
      border-image: url('/assets/img/inky_border_black_full.png') 88 / 7px / 1px round;

      &:hover{
        transform: scale(1.02);
      }
      
      a{
        text-decoration: none;
        color: #e4e4e4;
      }

      h1,h2,h3,h4,h5,h6{
        font-weight: normal;

        &.sub{
          color: #aaa;
        }
      }

      p{
        text-align: left;
      }
    }
  }
}