.random-bg-1{
  background: linear-gradient(to left top, $orange, $maroon);
}
.random-bg-2{
  background: linear-gradient(to left top, $orange, $teal);
}
.random-bg-3{
  background: linear-gradient(to left top, $orange, $purple);
}

.random-bg-4{
  background: linear-gradient(to left top, $maroon, $teal);
}
.random-bg-5{
  background: linear-gradient(to left top, $maroon, $purple);
}
.random-bg-6{
  background: linear-gradient(to left top, $maroon, $orange);
}

.random-bg-7{
  background: linear-gradient(to left top, $teal, $purple);
}
.random-bg-8{
  background: linear-gradient(to left top, $teal, $orange);
}
.random-bg-9{
  background: linear-gradient(to left top, $teal, $maroon);
}

.random-bg-10{
  background: linear-gradient(to left top, $purple, $orange);
}
.random-bg-11{
  background: linear-gradient(to left top, $purple, $maroon);
}
.random-bg-12{
  background: linear-gradient(to left top, $purple, $teal);
}