.random-bg-1{
  background: linear-gradient(to left top, $orange, $maroon) no-repeat;
}
.random-bg-2{
  background: linear-gradient(to left top, $orange, $teal) no-repeat;
}
.random-bg-3{
  background: linear-gradient(to left top, $orange, $purple) no-repeat;
}

.random-bg-4{
  background: linear-gradient(to left top, $maroon, $teal) no-repeat;
}
.random-bg-5{
  background: linear-gradient(to left top, $maroon, $purple) no-repeat;
}
.random-bg-6{
  background: linear-gradient(to left top, $maroon, $orange) no-repeat;
}

.random-bg-7{
  background: linear-gradient(to left top, $teal, $purple) no-repeat;
}
.random-bg-8{
  background: linear-gradient(to left top, $teal, $orange) no-repeat;
}
.random-bg-9{
  background: linear-gradient(to left top, $teal, $maroon) no-repeat;
}

.random-bg-10{
  background: linear-gradient(to left top, $purple, $orange) no-repeat;
}
.random-bg-11{
  background: linear-gradient(to left top, $purple, $maroon) no-repeat;
}
.random-bg-12{
  background: linear-gradient(to left top, $purple, $teal) no-repeat;
}