---
sitemap: false
---

@import "post";

section.page-wrapper{
  .post-body{
    width: fit-content;
    max-width: 1000px;
    padding: 0px;
    overflow: hidden;
  }

  .content-wrapper{
    margin: 0 auto 40px auto;
    padding: 50px 80px;
    
    @media (max-width: $bs-break-sm) {
      padding: 50px 40px;
    }
  }

  .post-footer{
    max-width: 800px;
    margin: 70px auto 0 auto;

    .col{
      padding: 0px 23px;
    }
  }
}

img.feature{
  display: block;
  max-width: 100%;
}

nav.comic-nav{
  max-width: 800px;
  margin: 30px auto 40px auto;
  font-size: 22px;
  font-family: 'P22 Mackinac Pro', serif;
  font-weight: 700;

  @media (max-width: $bs-break-sm) {
    
  }

  a{
    text-decoration: none;
    color: lighten($teal, 10);

    &:hover{
      color: $teal;
    }

    &.disabled{
      color: #777;
      cursor: not-allowed;
    }
  }
}