<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link href="{{ site.url }}/assets/css/home.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <section class="logo-dumpster">
        <img src="/assets/img/logobig.png" alt="fart depot dot biz logo" />
      </section>

      <nav class="main-menu">
        <div class="nav-inner">
          <div class="container">
            <div class="row">
              <div class="col">
                <a href="/drew" class="drewit" alt="i drew it: stuff that i drew"></a>
              </div>
              <div class="col">
                <a href="/wrote" class="wroteit" alt="i wrote it: stuff that i wrote"></a>
              </div>
              <div class="col">
                <a href="/about" class="amit" alt="i am it: about me and this site"></a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="text-center page-wrapper">
        <br />
        <h1>fartin' soon!</h1>
      </section>

      <!-- <section class="page-wrapper posts-list clearfix">
      
        <h1>
          {% if paginator.page > 1 %}
          <small class="text-muted">Page {{ paginator.page }}</small>
          {% endif %}
        </h1>

        <div class="previews-container">
          {% for post in paginator.posts %}
            {% capture evenOdd %}
                {% cycle 'odd', 'even' %}
            {% endcapture %}
            {{ post.title }}
          {% endfor %}
        </div>

      </section> -->

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
