<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link href="{{ site.url }}/assets/css/home.css" rel="stylesheet">
  </head>

  <body>
    <main>
      {% include bignav.html %}

      <section class="text-center page-wrapper">
        <h1>fartin' soon!</h1>

        <div class="previews-container">
          {% for category in site.categories %}
            <h2><a name="{{ category | first }}">{{ category | first }}</a></h2>
              <ul>
              {% for post in category.last %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </div>

      </section>

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
