<!doctype html>
<html>
  <head>
    {% include head.html %}

    {% if page.image.background %}
      {% capture background %}{% if page.image.background %}/assets/img/post-content/{{ page.image.background }}{% endif %}{% endcapture %}
      <style type="text/css">
          body {
            background: url({{ background }}) no-repeat center center fixed !important;
            background-size: cover !important;
          }
      </style>
    {% endif %}
    {% if page.image.headliner %}
      {% capture headliner %}{% if page.image.headliner %}/assets/img/post-content/{{ page.image.headliner }}{% endif %}{% endcapture %}
    {% endif %}

    <link href="{{ site.url }}/assets/css/wrote.css" rel="stylesheet">
  </head>

  <body class="{% if page.image.background %} bg {% endif %}">
    <main>
      {% include normalnav.html %}

      <header class="post-header {% if page.image.headliner %} headliner {% endif %}">
        {% if page.image.headliner %}
          <div class="add-scrim headliner-wrap">
            <img src="{{ headliner }}" />
          </div>
        {% endif %}
        <div class="title-wrap">
          <h1 class="mega title-text"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        </div>
      </header>

      <section class="page-wrapper">
        <div class="post-body">
          {% if category == "drew" %}
            <img class="feature" src="{{ site.url }}/assets/img/post-content/{{ page.image.feature }}" title="{{ page.image.imageHover }}" alt="{{ page.image.imageAlt }}" />
          {% endif %}
          {% capture trimmedContent %}{{ content | strip }}{% endcapture %}
          {% if trimmedContent != '' %}
            <div class="content-wrapper">
              {{ content }}
            </div>
          {% endif %}
        </div>
      </section>

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>

  </body>

</html>
