<!doctype html>
<html>
  <head>
    {% include head.html %}

    {% if page.image.background %}
      {% capture background %}{% if page.image.background %}/assets/img/post-content/{{ page.image.background }}{% endif %}{% endcapture %}
      <style type="text/css">
          body {
            background: url({{ background }}) no-repeat center center fixed !important;
            background-size: cover !important;
          }
      </style>
    {% endif %}
    {% if page.image.headliner %}
      {% capture headliner %}{% if page.image.headliner %}/assets/img/post-content/{{ page.image.headliner }}{% endif %}{% endcapture %}
    {% endif %}

    {% assign category = page.categories[0] %}
    {% if category == "drew" %}
      <link href="{{ site.url }}/assets/css/drew.css" rel="stylesheet">
    {% else %}
      <link href="{{ site.url }}/assets/css/wrote.css" rel="stylesheet">
    {% endif %}
  </head>

  <body class="{% if page.image.background %} bg {% endif %}">
    <main>
      {% include normalnav.html %}

      <header class="post-header {% if page.image.headliner %} headliner {% endif %}">
        {% if page.image.headliner %}
          <div class="add-scrim headliner-wrap">
            <img src="{{ headliner }}" />
          </div>
        {% endif %}
        <div class="title-wrap">
          <h1 class="title-text"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        </div>
      </header>

      <section class="page-wrapper">
        <div class="post-body">
          {% if category == "drew" %}
            <img class="feature" src="{{ site.url }}/assets/img/post-content/{{ page.image.feature }}" title="{{ page.image.imageHover }}" alt="{{ page.image.imageAlt }}" />
          {% endif %}
          {% capture trimmedContent %}{{ content | strip }}{% endcapture %}
          {% if trimmedContent != '' %}
            <div class="content-wrapper">
              {{ content }}
            </div>
          {% endif %}
          {% if category == "wrote" %}

            <div class="post-separator">
              <h1>&#8226;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;&nbsp;&nbsp;&#8226;</h1>
            </div>

            {% include post-footer.html %}
          
          {% endif %}
        </div>

        {% if category == "drew" %}
          {% include post-footer.html %}
          {% include comicnav.html %}
        {% endif %}

        <div class="post-alsos">
          <h3 class="title-text">i also {{ category }}</h3>
          <div class="container also-wrap">
            <div class="row g-2 row-cols-2">
              {% for post in site.related_posts limit:4 %}
                {% capture leftRight %}{% cycle 'left', 'right' %}{% endcapture %}
                <div class="col {{ leftRight }}">
                  {% capture bgClass %}{% if post.image %}bg-replace{% else %}random-bg-replace{% endif %}{% endcapture %}

                  {% if post.image.background %}
                    {% capture bgPath %}/assets/img/post-content/{{ post.image.background }}{% endcapture %}
                  {% elsif post.image.headliner %}
                      {% capture bgPath %}/assets/img/post-content/{{ post.image.headliner }}{% endcapture %}
                  {% elsif post.image.feature %}
                      {% capture bgPath %}/assets/img/post-content/{{ post.image.feature }}{% endcapture %}
                  {% endif %}
                  
                  <div class="add-scrim also-item {{ bgClass }}" data-bg="{{ bgPath }}">
                    <a class="stretched-link" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><h5>{{ post.title }}</h5></a>
                    <h6>{{ post.date | date: "%B %d, %Y" }}</h6>
                    <p class="title-font">{{ post.excerpt }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            Copied link to your clipboard
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

  </body>

</html>
