<!doctype html>
<html>
  <head>
    {% include head.html %}

    {% if page.image.background %}
      {% capture background %}{% if page.image.background %}/assets/img/post-content/{{ page.image.background }}{% endif %}{% endcapture %}
      <style type="text/css">
          body {
            background: url({{ background }}) no-repeat center center fixed !important;
            background-size: cover;
          }
      </style>
    {% endif %}
    {% if page.image.headliner %}
      {% capture headliner %}{% if page.image.headliner %}/assets/img/post-content/{{ page.image.headliner }}{% endif %}{% endcapture %}
    {% endif %}

    {% assign category = page.categories[0] %}
    {% if category == "drew" %}
      <link href="{{ site.url }}/assets/css/drew.css" rel="stylesheet">
    {% else %}
      <link href="{{ site.url }}/assets/css/wrote.css" rel="stylesheet">
    {% endif %}
  </head>

  <body class="{% if page.image.background %} bg {% endif %}">
    <main>
      {% include normalnav.html %}

      <header class="post-header {% if page.image.headliner %} headliner {% endif %}">
        {% if page.image.headliner %}
          <div class="add-scrim headliner-wrap">
            <img src="{{ headliner }}" />
          </div>
        {% endif %}
        <div class="title-wrap">
          <h1 class="title-text"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        </div>
      </header>

      <section class="page-wrapper">
        <div class="post-body">
          {% if category == "drew" %}
            {% include comicnav.html %}
          {% endif %}
          {{ content }}
          {% if category == "wrote" %}

            <div class="post-separator">
              <h1>&#8226;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;&nbsp;&nbsp;&#8226;</h1>
            </div>

            <div class="post-footer">
              <h2><small>i {{ category }} it on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></small></h2>
            </div>
          
          {% endif %}
          {% if category == "drew" %}
            {% include comicnav.html %}
          {% endif %}

        </div>

        <div class="post-alsos">
          <h3 class="title-text">i also {{ category }}</h3>
          <div class="container also-wrap">
            <div class="row g-2 row-cols-2">
              {% for post in site.related_posts limit:4 %}
                {% capture leftRight %}{% cycle 'left', 'right' %}{% endcapture %}
                <div class="col {{ leftRight }}">
                  {% capture bgClass %}{% if post.image %}bg-replace{% else %}random-bg-replace{% endif %}{% endcapture %}

                  {% if post.image.background %}
                    {% capture bgPath %}/assets/img/post-content/{{ post.image.background }}{% endcapture %}
                  {% elsif post.image.headliner %}
                      {% capture bgPath %}/assets/img/post-content/{{ post.image.headliner }}{% endcapture %}
                  {% endif %}
                  
                  <div class="add-scrim also-item {{ bgClass }}" data-bg="{{ bgPath }}">
                    <a class="stretched-link" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><h5>{{ post.title }}</h5></a>
                    <h6>{{ post.date | date: "%B %d, %Y" }}</h6>
                    <p class="title-font">{{ post.excerpt }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <footer>
        {% include footer.html %}
      </footer>
      
    </main>
  </body>

</html>
